<td-layout-nav logo="assets:stock-market" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Stock Market Demo</span>
    <span flex></span>
    <a mat-icon-button matTooltip="Github" href="https://github.com/JulieMarie" target="_blank"><mat-icon svgIcon="assets:github"></mat-icon></a>
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="60">
      <mat-card>
        <mat-card-title>Today's Markets</mat-card-title>
        <mat-card-subtitle class="tc-orange-800">exclusive market analysis</mat-card-subtitle>
        <mat-divider></mat-divider>
        <div class="chart-height push-top push-right-sm">
          <ngx-charts-line-chart
            [scheme]="orangeColorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [yAxisTickFormatting]="axisDigits">
          </ngx-charts-line-chart>
        </div>
      </mat-card>
      <div layout="row">
        <div flex="33" layout="column">
          <mat-card class="mat-card-colored" flex>
            <mat-card-content class="text-center">
              <div class="mat-headline">174.25 USD</div>
              <div class="mat-subhead tc-green-500 "><mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon>1.75 (1.01%)</div>
              <mat-icon svgIcon="assets:apple"></mat-icon>
              <div layout="column">
                <div class="mat-subhead">Apple Inc.</div>
                <div class="mat-subhead">(NASDAQ: AAPL)</div>
                <div class="mat-caption tc-grey-600">at closing</div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div flex="33" layout="column">
          <mat-card class="mat-card-colored" flex>
            <mat-card-content class="text-center">
              <div class="mat-headline">1,120.60 USD</div>
              <div class="mat-subhead tc-green-500 "><mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon>9.06 (0.82%)</div>
              <mat-icon svgIcon="assets:amazon"></mat-icon>
              <div layout="column">
                <div class="mat-subhead">Amazon.com Inc.</div>
                <div class="mat-subeahd">(NASDAQ: AMZN)</div>
                <div class="mat-caption tc-grey-600">at closing</div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div flex="33" layout="column">
          <mat-card class="mat-card-colored" flex>
            <mat-card-content class="text-center">
              <div class="mat-headline">35.53 USD</div>
              <div class="mat-subhead tc-red-500 "><mat-icon class="tc-red-500 text-sm">arrow_downward</mat-icon>0.56 (1.55%)</div>
              <mat-icon svgIcon="assets:teradata"></mat-icon>
              <div layout="column">
                <div class="mat-subhead">Teradata Corporation</div>
                <div class="mat-subhead">(NYSE: TDC)</div>
                <div class="mat-caption tc-grey-600">at closing</div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div flex-gt-sm="40">
      <mat-card id="market-news">
        <mat-card-title>Market News</mat-card-title>
        <mat-card-subtitle class="tc-orange-800">top stories</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-list class="will-load news-list">
          <ng-template let-item let-last="last" ngFor [ngForOf]="news">
            <mat-list-item layout-align="row">
              <h3 mat-line> {{item.headline}} </h3>
              <p mat-line class="tc-orange-800"> {{item.author}} </p>
              <h4 mat-line> {{item.story}} </h4>
              <p mat-line> {{item.posted}} </p>
            </mat-list-item>
          </ng-template>
        </mat-list>
      </mat-card>
    </div>
  </div>
  <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2016 Teradata. All rights reserved</span>
        <span flex></span>
      </div>
    </td-layout-footer>
</td-layout-nav>